<script>
	$(function() {
		$( "#assigned, #unassigned" ).sortable({
			connectWith: ".connected"
		}).disableSelection();
	});
</script>
<h1>Assign to  <%= @word_list.title + " Due: " + @word_list.due_date.to_s %></h1>
<div id="assignment">
	<div id="left-container">
		<h2>Assigned</h2>
		<ul id="assigned" class="connected">
			<% @assigned.each do |a| %>
				<li><%= a.name %></li>
			<% end %>
		</ul>
	</div>
	<div id="right-container">
		<h2>Unassigned</h2>
		<ul id="unassigned" class="connected">
			<% @unassigned.each do |u| %>
				<li>
					<span class="name"><%= u.name %></span>
					<span class="assigned_to_id"><%= u.id %></span>
					<span class="word_list_id"><%= @word_list.id %></span>
					<span class="assigned_by_id"><%= current_user.id %></span>
				</li>
			<% end %>
		</ul>
	</div>
</div>
