<div id="stats">
	<table id="stats">
		<tr><td>Words in list</td><td class="number-column"><%= @list_stats.total_words %></td></tr>
		<tr><td>Words correct</td><td class="number-column"><%= @list_stats.words_correct %></td></tr>
		<tr><td>Words untried</td><td class="number-column"><%= @list_stats.words_untried %></td></tr>
		<tr><td>Words left</td><td class="number-column"><%= @list_stats.words_left %></td></tr>
	</table>
	<%= form_tag(list_stats_reset_path()) do %>
		<%= submit_tag("Reset the statistics") %>
	<% end %>
</div>
<div id="word-test">
	<%= form_tag(check_list_item_path(@list_item.id)) do %>
	<%= hidden_field_tag(:word_id, @list_item.id) %>
	<%= hidden_field_tag(:word, @list_item.word) %>
	<p id="show-the-word"><%= @list_item.word + "(#{@list_item.id})" %></p>
	<div id="messages">
	<%= flash[:message] %>
	</div>
	<%= raw text_to_flash_player( @list_item.verbal_prompt, :speed => 50, :gap => 10, :voice => "us-mbrola-2" ) %>
	<div id="sentence">
		<div id="beginning-of-sentence"><%= @list_item.beginning_of_sentence %></div>
		<div id="student-response-word">
			<%= text_field_tag(:student_response, nil, :size => @list_item.word.length * 2) %>
		</div>
		<div id="end-of-sentence">
			<%= @list_item.end_of_sentence %>
		</div>
	</div>
	<div id="links">
	<%= submit_tag("Check my spelling") %>
	<%= link_to "Skip this word for now", practice_list_item_path(@list_item.next_word_not_yet_answered_correctly(current_user_id)) %>
	</div>
	<% end %>
</div>
