<div id="edit-list">
  <% if @word_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_list.errors.count, "error") %> prevented this word list from being saved:</h2>
      <ul>
      <% @word_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= form_for(@word_list) do |word_list_form| %>
    <%= word_list_form.label :title %> <%= word_list_form.text_field :title %>
    <br/>
    <%= word_list_form.label :due_date %> <%= word_list_form.text_field :due_date %>

    <table id="edit-list">
      <tr>
        <td>Word</td>
        <td>Sentence</td>
      </tr>
      <% @word_list.list_items.each do |word| %>
        <%= word_list_form.fields_for word, :index => word do |list_item_form| %>
          <tr>
          	<td><%= list_item_form.text_field :word, :size => 20 %></td>
          	<td><%= list_item_form.text_field :sentence, :size => 80 %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= word_list_form.submit %>
  <% end %>
</div>
<div class="links">

