<table>
  <thead>
  <tr>
    <td>Title</td>
    <td>Due</td>
    <td></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% lists.each do |assignment| %>
    <% list = assignment.word_list %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%= list.title %></td>
      <td><%= list.due_date %></td>
      <td><%= link_to 'Practice', practice_word_list_path(list) %></td>
      <td><%= link_to 'Study', study_word_list_path(list) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

