<table>
  <thead>
  <tr>
    <th style="min-width: 4em;">Title</th>
    <th style="min-width: 6em;">Due</th>
	 <th style="min-width: 8em;">Goal</th>
    <th style="min-width: 16px;"></th>
	 <th style="min-width: 2em;"># Tries</th>
	 <th style="min-width: 2em;"># Complete</th>
	 <th style="min-width: 3em;">Time (mm:ss)</th>
    <th style="min-width: 3em;"></th>
	 <th style="min-width: 2em;"></th>
  </tr>
  </thead>
  <tbody>
  <% lists.each do |assignment| %>
    <% list = assignment.word_list %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%= list.title %></td>
      <td class="date-column"><%= list.due_date %></td>
		<td><%= assignment.goal %></td>
		<td><%= image_tag 'checkmark-green-16x16.ico' if assignment.achieved? %></td>
		<td class="number-column"><%= assignment.n_tries %></td>
		<td class="number-column"><%= assignment.n_complete %></td>
		<td class="number-column"><%= sprintf("%02d:%02d", (assignment.duration / 1.minute), (assignment.duration % 1.minute).floor) %></td>
      <td><%= link_to 'Practice', practice_word_list_path(list) %></td>
      <td><%= link_to 'Study', study_word_list_path(list) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

