<p>We're sorry. At this time, access to this site is by invitation only.
If you know Larry, feel free to e-mail him for an invitation. 
Otherwise, please check back here in July 2012 to see if you can sign in.</p>

<div id="sign-up-partial" class="ui-helper-hidden-accessible">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>
  
	<script type="text/javascript">document.getElementById('user_email').focus();</script>

</div>

