<% title "Welcome" %>
<table class="blurb">
	<tr>
		<td id="practice-blurb" class="blurb">
			<h1 class="blurb-header">Practice Spelling</h1>
			<p>Check out our library of lists of words to spell.
			You can choose a list to practice, and track how you do.
			Learn more <%= link_to "here", welcome_promo_path %> or, 
			get started <%= link_to "here", word_lists_path %>.
			</p>
		</td>
		<td class="vertical-spacer"></td>
		<td id="teachers-blurb" class="blurb">
			<h1 class="blurb-header">For Teachers</h1>
			<p>Coming soon for teachers and schools, a package of features to help you
			help your students learn to spell. Click <%= link_to "here", welcome_for_teachers_path %> for more info.
			</p>
		</td>
	</tr>
	<tr>
		<td id="sign-up" class="blurb">
			<h1 class="blurb-header">Not registered? Sign up here.</h1>
			<%= render 'shared/sign_up' %>
		</td>
		<td class="vertical-spacer"></td>
		<td id="sign-in" class="blurb">
			<h1 class="blurb-header">Already registered? Sign in here.</h1>
			<%= render 'shared/sign_in' %>
		</td>
	</tr>
</table>
