<h1>Choose a spelling list</h1>

<div id="word-list-list">
<table id="word-list">
<% @word_lists.each do |word_list| %>
  <tr>
    <td><%= word_list.title %></td>
    <td><%= link_to 'Practice', list_practice_path %></td>
<!--    <td><%= link_to 'Show', word_list %></td>
    <td><%= link_to 'Edit', edit_word_list_path(word_list) %></td>
    <td><%= link_to 'Destroy', word_list, confirm: 'Are you sure?', method: :delete %></td>
-->
  </tr>
<% end %>
</table>
</div>

<!--<%= link_to 'New Word list', new_word_list_path %>
-->