<script>
$(function() {
    $("#children").collapse({
		head: 'h2'
	 });
});
</script>

<!--
<script>
$(function() {
	$( "#children" ).accordion({
		collapsible: true,
		header: 'h2'
	});
});
</script>
-->

<% title "Parent Home" %>
<div id="parent-home">
  <div id="children">
    <h1>Children</h1>
      <% @user.children.each do |child| %>
        <div class="child">
          <h2><span class="arrow"></span><%= child.name %></h2>
          <%= render :partial => 'shared/child_status', :locals => { :user => child } %>
        </div>
      <% end %>
  </div>
  
  <div id="lists">
    <h1>My Lists</h1>

		<p><%= link_to 'Create a New Word List', new_word_list_path, :class => 'button' %></p>

	  <table id="word-list">
		 <thead>
			 <tr>
				 <th>Title</th>
				 <th>Due</th>
				 <th></th>
				 <th></th>
				 <th></th>
			 </tr>
		 </thead>
		 <tbody>
		 <% @user.word_lists.each do |word_list| %>
			<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
			  <td><%= word_list.title %></td>
			  <td><%= word_list.due_date %></td>
			  <td><%= link_to 'Study', study_word_list_path(word_list.id) %></td>
			  <td><%= link_to 'Edit', edit_word_list_path(word_list.id) %></td>
			  <td><%= link_to 'Assign', maintain_assignments_word_list_path(word_list.id) %></td>
			</tr>
		 <% end %>
		 </tbody>
	  </table>

		<p><%= link_to 'Create a New Word List', new_word_list_path, :class => 'button' %></p>

  </div>
</div>
