<div id="practice">
	<div id="errors">
	  <%= flash[:errors] %>
	</div>
	<div id="left-column">
		<div id="word-test">
			 <%= form_tag({ :controller => "list_items", :id => @list_item.id, :action => "check#{@with_letters}"}, {:autocomplete => "off", :id => "practice-form"}) do %>
			 <%= hidden_field_tag(:word_id, @list_item.id) %>
			 <%= hidden_field_tag(:word, @list_item.word) %>
			 <%= hidden_field_tag(:start_time) %>
			 <%= hidden_field_tag(:end_time) %>
			 <p id="show-the-word"><%= @list_item.word + "(#{@list_item.id})" %></p>
			 <div id="sentence">
				 <div id="beginning-of-sentence"><%= @list_item.beginning_of_sentence %></div>
				 <div id="student-response-word">
				    <%= render student_response %>
				 </div>
				 <div id="end-of-sentence">
					 <%= @list_item.end_of_sentence %>
				 </div>
			 </div>
			 <!-- <%= raw text_to_flash_player( @list_item.verbal_prompt, :speed => 100, :gap => 3, :voice => "english-mb-en1", :volume => 150 ) %>
			 -->

			 <%= render :partial => 'shared/play_audio', :locals => { :url_for_mp3_file => @url_for_mp3_file, :url_for_ogg_file => @url_for_ogg_file } %>

			 <div id="links" class="links">
				 <%= submit_tag("Check my spelling") %>
				 <%= link_to "Skip this word", {:action => "practice#{@with_letters}", :controller => controller_name, :id => current_user.current_practice_session.next_word_not_yet_answered_correctly(@list_item).id}, :class => "button" %>
				 <%= link_to "Study this list", study_word_list_path(@list_item.word_list_id), :class => "button" %>
				 <%= link_to @letters_on_off_string, @letters_on_off_path, :class => "button" %>
			 </div>
			 <% end %>
		</div>
	</div>

	<div id="right-column">
	  <div id="messages">
		 <%= raw flash[:message] %>
	  </div>

		<div id="stats">
			<table id="stats">
				<tr class="<%= cycle('list-line-odd', 'list-line-even') %>"><td>Words in list</td><td class="number-column"><%= @list_stats.total_words %></td></tr>
				<tr class="<%= cycle('list-line-odd', 'list-line-even') %>"><td>Words correct</td><td class="number-column"><%= @list_stats.words_correct %></td></tr>
				<tr class="<%= cycle('list-line-odd', 'list-line-even') %>"><td>Words untried</td><td class="number-column"><%= @list_stats.words_untried %></td></tr>
				<tr class="<%= cycle('list-line-odd', 'list-line-even') %>"><td>Words left</td><td class="number-column"><%= @list_stats.words_left %></td></tr>
			</table>

			<%= form_tag(list_stats_reset_path()) do %>
			<div class="h-centre">
				<p>
					<div class="shrink-wrap">
						<span class="links">
							<%= submit_tag("Reset the statistics") %>
						</span>
					</div>
				</p>
			</div>
			<% end %>
		</div>

		<script type="text/javascript">document.getElementById('student-response-word-field').focus();</script>
		<script type="text/javascript">
		  BrowserNowToRubyTime(document.getElementById('start_time'));
		</script>
	</div>
</div>
<div class="clear"></div>
