<h1>Welcome to markspells.com, <%= @user.email %></h1>
<p>
<%= "NIL" if @user.invitor.nil? %>
  <% if @user.invitor %>
    <%= @user.invitor.email %> has invited you
  <% else %>
    You have been invited
  <% end %>
  to try markspells.com, the place to learn to spell.
  An account has been created for you.
  Your username is: <%= @user.email %>.<br/>
</p>
<p>
  To confirm your registration and complete your invitation, just follow this link:
  <a href="<%= confirmation_url @user, :confirmation_token => @user.confirmation_token %>"><%= confirmation_url @user, :confirmation_token => @user.confirmation_token %></a>.
</p>
<p>
  To get more information about markspells.com, go to <%= url_for :host => "markspells.com", :controller => "welcome", :action => "index" %>.
</p>
<p>We hope you'll give this site a try. Have a great day!</p>
<p>If you don't want to try this site, simply ignore this e-mail.</p>
